p{
    font-size:120%;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    color:#333333;
    font-weight:400;

}
.sectionOffer{
    padding-top:30px;
    padding-bottom:30px;
    height:auto;
    width:100%;
    color:#333333;
    text-align:center;
}
.sectionOffer > h1{
    margin-top:20px;
    margin-bottom:20px;
    text-shadow:2px 2px 3px #000000;
    color:#46A0D5;
    font-weight:900;
    letter-spacing: 2px;
    font-size:300%;
}
.companyOffer{
    margin-left:auto;
    margin-right:auto;
    width:353px;
    min-height:200px;
}
.offer{
    position:absolute;
    display:none;
}
.offer > i{
    font-size:300%;
    padding-right:10px;
    padding-bottom:10px;
}
.offer > h1{
    font-size:200%;
    font-weight:900;
    text-shadow:1px 1px 1px #000000;
    letter-spacing:2px;
    margin:0;
    margin-top:12.5px;
    margin-bottom:12.5px;
    padding:0;
    float:left;
}
.offer > p{
    font-size:100%;
    width:353px;
    text-align:justify;
    color:#333333;
    font-weight:400;

}
.offerActive{
    display:block;

}
    /* DOTS */
.dots{
    position:relative;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    text-align:center;
}
.dot{
    display:inline-block;
    width:14px;
    height:14px;
    border-radius:12px;
    border:1px solid #666666;
    background-color:#d8d8d8;
    box-shadow:0px 0px 2px #d8d8d8;
    opacity:0.5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.dot:hover{
    opacity:1;
    cursor:pointer;
}
.dotActive{
    opacity:1;
}
/*KONIEC DOTS */
.btnOne{
    display:inline-block;
    margin: 0 auto;
    background-color:#1ABB9C;
    font-size:80%;
    padding: 10px 15px 10px;
    border-radius:3px 6px 3px;
    color:#ffffff;
    font-size:150%;
    font-weight:300;
    text-shadow:1px 1px 2px #000000;
}
.btnOne:hover{
    background-color:#17A78B;
    cursor:pointer;
 }
.btnTwo{
    float:right;
    color:#333333;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btnTwo:hover{
    color:#1ABB9C;
}
/*O nas*/
    .about{
        padding-top:30px;
        padding-bottom:30px;
        height:auto;
        width:100%;
        color:#ffffff;
        text-align:center;
    }
    .about > h1{
        margin-top:30px;
        margin-bottom:30px;
        text-shadow:2px 2px 3px #000000;
        color:#46A0D5;
        font-weight:900;
        letter-spacing: 2px;
        font-size:300%;

}
    .about > p{
        padding-left:15%;
        padding-right:15%;
        /*text-indent:50px; */
    }
 /*Newsy*/
  /*  .present{
        padding-top:30px;
        padding-bottom:30px;
        height:auto;
        width:100%;
        color:#ffffff;
        text-align:center;
    }
    .present > h1{
        margin-top:20px;
        margin-bottom:20px;
        text-shadow:2px 2px 3px #000000;
        color:#46A0D5;
        font-weight:900;
        letter-spacing: 2px;
        font-size:300%;

} */
/*Kontakt*/
    .contact{
        padding-top:30px;
        padding-bottom:30px;
        height:auto;
        width:100%;
        color:#333333;
        text-align:center;
        background-size: cover;
        background-position:center center;
        background-image:url('../obrazy/contact.jpg');
    }
    .contact > h1{
        margin-top:20px;
        margin-bottom:20px;
        text-shadow:2px 2px 3px #000000;
        color:#46A0D5;
        font-weight:900;
        letter-spacing: 2px;
        font-size:300%;
}
    .contact > p{
        padding-left:25%;
        padding-right:25%;
    }
/*Sprzet*/
    .sectionPresentation{
        height:auto;
        overflow:hidden;
        width:100%;
        color:#ffffff;
        text-align:center;
        background-color:#f2f2f2;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    .presentationPictures{
        background-color:#000000;
        float:left;
        width:90%;
        margin:0;
        padding:0;
    }
    .gearPicture{
        display:none;
        position:absolute;
    }
    .gearPicture img{
        width:100%;
        height:auto;
        padding:0;
        border:0;
        margin:0;
    }
    .pictureActive{
        position:relative;
        display:block;
        padding:0;
        margin-bottom:-4px;
    }
    .arrowLeft, .arrowRight{
        margin-top:13%;
        width:5%;
        float:left;
        font-size:190%;
        color:#46A0D5;
        cursor:pointer;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .arrowLeft:hover{
        color:#B90B25;
    }
    .arrowRight:hover{
        color:#B90B25;
    }
