.artykuly{
    border: 1px solid #A2A2A5;
    padding:10px;
    background-color:#009fff;
    border: 0px solid #A2A2A5;
    margin:5px;
    color:#ffffff;
}
@media all and (max-width: 750px) {
    #artykuly{  
        width:80%;
        padding:0;
        margin:0;
        padding-left:10%;
        padding-right:10%;
    }
    
}
.aktualny{
    background-color:#405686;
}
.aktualny_k{ 
}
.aktualny_p{
}
.nap_komentarz{
}   
.naglowek{
    font-size:20px;
    float:left;
    cursor:pointer;
}
.data{
    float:left;
    padding-top:3px;
    padding-left:10px;
}
.pisz{ /*input*/
    width:200px;
    padding:2px;
    background-color:#eeeff4;
    border: 1px solid #A2A2A5;
    border-radius: 2px;
    margin:5px;
    float:left;
}
.autor{ /*input*/
    display:none; 
    padding:2px;
    background-color:#eeeff4;
    border: 1px solid #A2A2A5;
    border-radius: 2px;
    margin:5px;
    width:100px;
    float:left;
}
.przycisk{ /*submit*/
    display:none;  
    float:left;
    margin:5px;
    padding:0;
    cursor:pointer;
}
.reset{ /*reset*/
    display:none;
    float:left;
    margin:5px;
    padding:0;
    cursor:pointer;
}
.licznik{
    float:left;
    margin-top:5px;
    font-size:14px;
    display:none;
}
.licznik2{
    float:left;
    margin-top:5px;
    margin-left:5px;
    font-size:14px;
    display:none;
}
.icon-left-open{
    display:none;
    border-radius:50%;
    background-color:gray;
    font-size:15px;
    margin-top:13px;
    cursor:pointer;
    float:left;
}
.icon-left-open:hover{
    background-color:black;
    color:white;
}
.komm{
    cursor:pointer;
    display:none;
}
.comm{
    display:none;
}
.comm p{
    font-size:13px;
}
.opis{
    margin-bottom:20px;
    display:none; 
    text-align:justify;
}
.komentarz{
    display:none;
}
.komentarze{
    background-color:#eeeff4;
    border: 1px solid #A2A2A5;
    color:#000000;
    padding:5px;
    margin:5px;
    
}
.error{
    color:red;
    font-size:14px;
}